{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% load markup %}

{% block title %}{{ palestra.titulo }} | {{ block.super }}{% endblock %}

{% block og %}
<meta property="og:title" content="{{ palestra.titulo }}">
<meta property="og:type" content="activity">
<meta property="og:url" content="{{ BASE_URL }}{{ palestra.get_absolute_url }}">
<meta property="og:image" content="{{ MEDIA_URL }}{{ palestra.palestrantes.all.0.foto }}">
<meta property="og:description" content="{{ palestra.descricao|markdown|striptags }}">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/palestra.css" type="text/css" media="screen">
{% endblock %}

{% block conteudo %}
<div id="palestra">
	<div class="container">
		<div class="section_header">
			<h1>{{ palestra.titulo }}</h1>
			<div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
			<div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
			<div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>
		</div>
		<div class="descricao">
			<div class="horario"><strong>Horário:</strong> {{ palestra.inicio|time:"H:i" }} - {{ palestra.termino|time:"H:i" }}</div>
			{{ palestra.descricao|markdown }}
		</div>
		{% with palestra.palestrantes.all as palestrantes %}
		<div class="section_header palestrantes">
			<h3>Palestrante{{ palestrantes|length|pluralize:"s" }}</h3>
		</div>
		{% for palestrante in palestrantes %}
		<div class="row perk{% if forloop.last %} last{% endif %}">
			<div class="span2 foto">
				<img src="{{ MEDIA_URL }}{{ palestrante.foto }}" alt="{{ palestrante.nome }}">
			</div>
			<div class="span10 description_wrapper">
				<h5>{{ palestrante.nome }}</h5>
				{{ palestrante.minicurriculo|markdown }}
			</div>
		</div>
		{% endfor %}
		{% endwith %}
	</div>
</div>
{% endblock %}
