{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "flatpages/default.html" %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/caravanas/" />
    <meta name="description" content="Conheça as caravanas que vêm para o Dev in Cachu 2013, caso você queira organizar uma caravana, adicione ela aqui!" />
    <meta name="keywords" content="devincachu, dev in cachu 2013, inscrição, vagas, assistir, caravana, participar" />
{% endblock %}

{% block og %}
    {{ block.super }}
    <meta property="og:description" content="Conheça as caravanas que vêm para o Dev in Cachu 2013, e adicione a sua caravana à nossa página!" />
{% endblock %}
