{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "flatpages/default.html" %}

{% block meta %}
    <link rel="canonical" href="{{ BASE_URL }}/contato/" />
    <meta name="description" content="Entre em contato com a organização do Dev in Cachu 2013" />
    <meta name="keywords" content="devincachu, dev in cachu 2013, contato, organização" />
{% endblock %}

{% block og %}
    {{ block.super }}
    <meta property="og:description" content="Entre em contato com a organização do Dev in Cachu 2013" />
{% endblock %}
