{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% load markup %}

{% block title %}{{ flatpage.title }} | {{ block.super }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/flatpages.css">
{% endblock %}

{% block conteudo %}
<div id="flatpage">
	<div class="container">
		<div class="row">
			<div class="span8">
				{{ flatpage.content|markdown }}
			</div>
			{% include "sidebar.html" %}
		</div>
	</div>
</div>
{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ flatpage.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ BASE_URL }}{{ flatpage.url }}" />
    <meta property="og:image" content="{{ STATIC_URL }}img/devincachu-facebook.png" />
{% endblock %}
