{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% load compress %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Dev in Cachu 2013{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block meta %}
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<link rel="canonical" href="{{ canonical_url }}">
		{% endblock %}

		{% block og %}{% endblock %}
		<meta property="og:site_name" content="Dev in Cachu 2013">
		<meta property="og:locale" content="pt_BR">
		<meta property="fb:app_id" content="220413784720358">

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% compress css %}
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/animate.css" media="screen, projection">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/devincachu.css" media="screen">
		{% endcompress %}

		{% block css %}{% endblock %}

		<script src="{{ STATIC_URL }}js/head.load.min.js" type="text/javascript" charset="utf-8"></script>

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
	</head>
	<body{% block bodyclass %}{% endblock %}>
		{% block navbar %}
		<div class="navbar navbar-inverse navbar-static-top">
		{% endblock %}
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">
						<strong>Dev in Cachu 2013</strong>
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li><a href="{% url sobre-o-evento %}">Sobre</a></li>
							<li><a href="{% url quando-e-onde %}">Quando e onde?</a></li>
							<li><a href="{% url programacao %}">Programação</a></li>
							<li><a href="{% url palestrantes %}">Palestrantes</a></li>
							<li><a href="/patrocinio/">Patrocínio</a></li>
							<li><a href="/caravanas/">Caravanas</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% block conteudo %}{% endblock %}

		<footer id="footer" style="margin-top:0;">
		<div class="container">
			<div class="row info">
				<div class="span6 residence">
					<ul>
						<li><strong>Dev in Cachu 2013</strong></li>
						<li>04 de maio de 2013, Centro Universitário São Camilo,</li>
						<li>Cachoeiro de Itapemirim, ES.</li>
					</ul>
				</div>
				<div class="span5 touch">
					<ul>
						<li><strong><a href="mailto:contato@devincachu.com.br"> contato@devincachu.com.br</a></li>
					</ul>
				</div>
			</div>
			<div class="row credits">
				<div class="span12">
					<div class="row social">
						<div class="span12">
							<a href="https://www.facebook.com/devincachu" class="facebook">
								<span class="socialicons ico1"></span>
								<span class="socialicons_h ico1h"></span>
							</a>
							<a href="https://twitter.com/devincachu" class="twitter">
								<span class="socialicons ico2"></span>
								<span class="socialicons_h ico2h"></span>
							</a>
							<a href="https://plus.google.com/events/ckc1955n8v7f5hmtrpg19cc8fbc" class="gplus">
								<span class="socialicons ico3"></span>
								<span class="socialicons_h ico3h"></span>
							</a>
							<a href="https://secure.flickr.com/search/?q=devincachu&m=tags" class="flickr">
								<span class="socialicons ico4"></span>
								<span class="socialicons_h ico4h"></span>
							</a>
						</div>
					</div>
					<div class="row copyright">
						<div class="span12">
							© {% now "Y" %} Organização Dev in Cachu.<br>
							Praticamente nenhum direito reservado.<br>
							Tema desenvolvido por Detail Canvas.
						</div>
					</div>
				</div>
			</div>
		</div>
		</footer>
		{% block ribbon %}
		<a href="http://github.com/devincachu/devincachu-2013" id="github-ribbon" title="Fork o site do Dev in Cachu no Github!" rel="nofollow">
			<img src="{{ STATIC_URL }}img/fork-me.png" alt="Fork me on Github" width="149" height="149">
		</a>
		{% endblock %}
		<div id="fb-root"></div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		{% compress js %}
		<script src="{{ STATIC_URL }}js/init.menu.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/theme.js"></script>
		<script>
			window._gaq = window._gaq || [];
			_gaq.push(['_setAccount', 'UA-8088829-10']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=220413784720358";
			  js.async = true;
			  fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');

			window.___gcfg = {lang: 'pt-BR'};

			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		{% block js %}{% endblock %}
		{% endcompress %}
	</body>
</html>
