{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}
{% load markup %}

{% block og %}
	<meta property="og:title" content="Dev in Cachu 2013">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ BASE_URL }}/">
	<meta property="og:image" content="{{ STATIC_URL }}img/devincachu-facebook.png">
	<meta property="og:description" content="Maior evento de desenvolvimento de software do Espírito Santo. Organizado com o objetivo de difundir técnicas e práticas de desenvolvimento de software, trazendo diversos temas.">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block bodyclass %} class="pull_top"{% endblock %}

{% block navbar %}<div class="navbar transparent navbar-inverse navbar-fixed-top">{% endblock %}

{% block conteudo %}
<section id="feature_slider" class="">
	<article class="slide" id="tour" style="background: url('{{ STATIC_URL }}img/backgrounds/color-splash.jpg') repeat-x top center;">
		<img class="asset left-200 sp550 t180 z2" src="{{ STATIC_URL }}img/slides/facebook.png">
		<img class="asset left-420 sp850 t120 z1" src="{{ STATIC_URL }}img/slides/print-facebook.jpg">
		<div class="info">
		<h2>Dev in Cachu está no Facebook</h2>
		<a href="https://www.facebook.com/devincachu">Curta a página!</a>
		</div>
	</article>
	<article class="slide" id="ideas" style="background: url('{{ STATIC_URL }}img/backgrounds/aqua.jpg') repeat-x top center;">
		<div class="info">
			<h2>04 de maio de 2013, Centro Universitário São Camilo.</h2>
		</div>
		<img class="asset left-200 sp700 t200 z1" src="{{ STATIC_URL }}img/slides/plateia_devincachu.jpg" style="border-radius: 5px; box-shadow: 3px 3px 5px #333;">
	</article>
</section>
<div id="patrocinadores">
	<div class="container">
		<div class="section_header">
			<h3>Patrocinadores</h3>
		</div>
		<ul>
			<li><a href="http://www.es.sebrae.com.br" title="SEBRAE ES"><img src="{{ STATIC_URL }}img/sponsors/diamond/home/sebrae.png"><span>Diamante</span></a></li>
			<li><a href="http://www.globo.com" title="Globo.com - Absolutamente tudo sobre notícias, esportes e entretenimento"><img src="{{ STATIC_URL }}img/sponsors/platinum/home/globocom.jpg"><span>Platina</span></a></li>
		</ul>
	</div>
</div>
<div id="novidades">
	<div class="container">
		<div class="row">
			<div class="span8">
				<div class="section_header">
					<h3>Novidades</h3>
				</div>
				{% for destaque in destaques %}
				<h4>{{ destaque.titulo }}</h4>
				<div class="metadados">Postado por {{ destaque.autor.first_name }} em {{ destaque.data|date:"d/m/Y à\s H:i:s" }}</div>
				{{ destaque.conteudo|markdown }}
				{% endfor %}
			</div>
			<div class="span4 social">
				<div class="fb-like-box" data-href="http://www.facebook.com/devincachu" data-width="300" data-show-faces="true" data-stream="false" data-border-color="#" data-header="false"></div>
				<div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
				<div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/index-slider.js"></script>
{% endblock %}

{% block ribbon %}{% endblock %}
