{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% block title %}Patrocínio | {{ block.super }}{% endblock %}

{% block meta %}
	<link rel="canonical" href="{{ BASE_URL }}/patrocinio/" />
	<meta name="description" content="Conheça os patrocinadores do Dev in Cachu 2013, e saiba como patrocinar o evento." />
	<meta name="keywords" content="devincachu, dev in cachu 2013, plano de captação de recursos, patrocínio" />
{% endblock %}

{% block og %}
	<meta property="og:title" content="Patrocinadores do Dev in Cachu 2013" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ BASE_URL }}/patrocinio/" />
	<meta property="og:image" content="{{ STATIC_URL }}img/devincachu-facebook.png" />
	<meta property="og:description" content="Conheça os patrocinadores do maior evento de desenvolvimento de software do Espírito Santo!" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/patrocinio.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block conteudo %}
<div id="patrocinio">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h1>Patrocínio</h1>
				<p>O patrocínio do evento é direcionado a todas as empresas interessadas em associar sua marca a um seleto grupo de estudantes, profissionais e empresas atuantes no mercado de TI, voltado para o assunto de Desenvolvimento de Software.</p>
				<p>Criado para agregar num só local todos os membros da comunidade de desenvolvimento de software capixaba, o <strong>Dev in Cachu</strong> é o maior evento sobre o tema no estado do Espírito Santo. Ele contará com a participação massiva da comunidade de estudantes, profissionais e empreendedores de tecnologia da informação que querem aprofundar nos temas mais relevantes.</p>
				<p>Nos anos de <a href="http://2011.devincachu.com.br" title="Dev in Cachu 2011">2011</a> e <a href="http://2012.devincachu.com.br" title="Dev in Cachu 2012">2012</a>, o evento teve repercussão nacional, recebendo, especialmente em 2012, patrocínio de empresas reconhecidas mundialmente.</p>
				<p>Você pode baixar nosso <a href="{{ STATIC_URL }}pdf/plano-captacao-2013.pdf" title="Plano de captação do Dev in Cachu 2013">plano de captação</a> ou entrar em contato com a equipe organizadora do evento para mais informações.</p>
			</div>
			{% include "sidebar.html" %}
		</div>
	</div>
</div>
{% endblock %}
