{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% block title %}Quando e onde? | {{ block.super }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/quando-e-onde.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block meta %}
	<link rel="canonical" href="{{ BASE_URL }}/quando-e-onde/" />
	<meta name="description" content="O Dev in Cachu 2013 acontecerá no dia 4 de maio de 2013, no Centro Universitário São Camilo Espírito Santo, na cidade de Cachoeiro de Itapemirim" />
	<meta name="keywords" content="devincachu, dev in cachu 2013, local, data" />
{% endblock %}

{% block og %}
	<meta property="og:title" content="Quando e onde será o Dev in Cachu 2013?" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ BASE_URL }}/quando-e-onde/" />
	<meta property="og:image" content="{{ STATIC_URL }}img/mapa-sao-camilo.jpg" />
	<meta property="og:description" content="O Dev in Cachu 2013 acontecerá no dia 4 de maio de 2013, no Centro Universitário São Camilo Espírito Santo, na cidade de Cachoeiro de Itapemirim" />
{% endblock %}

{% block conteudo %}
<div id="quando-e-onde">
	<div class="container">
		<div class="section_header">
			<h1>Quando e onde?</h1>
			<div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
			<div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
			<div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>
		</div>
		<div class="row contact">
			<p>O <strong>Dev in Cachu 2013</strong> acontecerá no dia 4 de maio de 2013, novamente no <a href="http://www.saocamilo-es.br/" title="Centro Universitário São Camilo">Centro Universitário São Camilo</a>.
		</div>
	</div>

	<div class="row map">
		<div class="container">
			<div class="span5 box_wrapp">
				<div class="box_cont">
					<div class="head">
						<h6>Onde?</h6>
					</div>
					<ul class="street">
						<li>Centro Universitário São Camilo</li>
						<li>Rua São Camilo de Léllis, 01</li>
						<li>Bairro Paraíso</li>
						<li>Cachoeiro de Itapemirim, ES.</li>
						<li>
						<a class="text" href="http://www.saocamilo-es.br">saocamilo-es.br</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?ie=UTF8&amp;cid=9165776474801434707&amp;q=Centro+Universit%C3%A1rio+S%C3%A3o+Camilo+-+Esp%C3%ADrito+Santo+-+Cusc&amp;gl=BR&amp;hl=pt-BR&amp;ll=-20.860887,-41.120903&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=near&amp;output=embed"></iframe>
	</div>
</div>
{% endblock %}
