<div class="patrocinadores apoio">
	<h2>Apoio</h2>
	<ul>
		<li><a href="http://www.saocamilo-es.br" title="Centro Universitário São Camilo"><img src="{{ STATIC_URL }}img/support/sao-camilo.png" alt="São Camilo"></a></li>
		<li><a href="http://www.casadocodigo.com.br" title="Casa do Código"><img src="{{ STATIC_URL}}img/support/casa-do-codigo.png" alt="Casa do Código"></a></li>
		<li><a href="http://www.ci.ifes.edu.br" title="Instituto Federal do Espírito Santo, Campus Cachoeiro de Itapemirim"><img src="{{ STATIC_URL }}img/support/ifes.jpg" alt="IFES, Campus Cachoeiro de Itapemirim"></a></li>
		<li><a href="http://www.novatec.com.br" title="Editora Novatec"><img src="{{ STATIC_URL}}img/support/editora-novatec.png" alt="Editora Novatec"></a></li>
	</ul>
</div>
