<div class="span4 sidebar">
	<div class="patrocinadores">
		<h2>Patrocinadores</h2>
		<h3>Platina</h3>
		<ul>
			<li><a href="http://globo.com"><img src="{{ STATIC_URL }}img/sponsors/platinum/globocom.jpg" alt="Globo.com - Absolutamente tudo sobre notícias, esportes e entretenimento"></a></li>
		</ul>
		<h3>Prata</h3>
		<ul>
			<li><a href="http://www.caelum.com.br"><img src="{{ STATIC_URL }}img/sponsors/silver/caelum-ensino-inovacao.png" alt="Caelum - Ensino e Inovação"></a></li>
		</ul>
	</div>
	{% include "sidebar-apoio.html" %}
</div>
