<div class="span4 sidebar">
	<div class="patrocinadores">
		<h2>Patrocinadores</h2>
		<h3>Platina</h3>
		<ul>
			<li><a href="http://globo.com" title="Globo.com - Absolutamente tudo sobre esportes, notícias e entretenimento"><img src="{{ STATIC_URL }}img/sponsors/platinum/globocom.jpg" alt="Globo.com - Absolutamente tudo sobre notícias, esportes e entretenimento"></a></li>
		</ul>
		<h3>Ouro</h3>
		<ul>
			<li><a href="http://www.dataci.es.gov.br" title="DATACI - Companhia de Tecnologia da Informação de Cachoeiro de Itapemirim"><img src="{{ STATIC_URL }}img/sponsors/gold/dataci.jpg" alt="DATACI"></a></li>
		</ul>
		<h3>Prata</h3>
		<ul>
			<li><a href="http://www.caelum.com.br" title="Caelum - Ensino e Inovação"><img src="{{ STATIC_URL }}img/sponsors/silver/caelum.png" alt="Caelum - Ensino e Inovação"></a></li>
		</ul>
		<h3>Bronze</h3>
		<ul>
			<li><a href="http://www.tecsystem.com.br" title="Tecsystem Tecnologia em Software"><img src="{{ STATIC_URL }}img/sponsors/bronze/tecsystem.png" alt="Tecsystem Tecnologia em Software"></a></li>
		</ul>
	</div>
	{% include "sidebar-apoio.html" %}
</div>
