{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% block title %}Validação de certificado | {{ block.super }}{% endblock %}

{% block meta %}
	<link rel="canonical" href="{{ BASE_URL }}/certificado/validar/" />
	<meta name="description" content="Validação de certificado do Dev in Cachu 2013" />
	<meta name="keywords" content="devincachu, dev in cachu 2013, certificado" />
{% endblock %}

{% block og %}
	<meta property="og:title" content="Validação de certificado" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ BASE_URL }}/certificado/validar/" />
	<meta property="og:image" content="{{ STATIC_URL }}img/logo-devincachu-facebook.png" />
	<meta property="og:description" content="Página para confirmar a validade de um certificado do Dev in Cachu 2013" />
{% endblock %}

{% block coluna_central %}
	<h1>Validação de certificado</h1>

	<p>Informe o código presente no certificado para assegurar a validade do mesmo:</p>

	{% if msg %}
		<div class="disclaimer">{{ msg }}</div>
	{% endif %}

	<form action="" method="post" accept-charset="utf-8" id="certificado">
		{% csrf_token %}
		{{ form.codigo }}
		<button type="submit" class="btn primary">Ok</submit>
	</form>
{% endblock %}
