{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "base.html" %}

{% block title %}Busca e geração de certificado | {{ block.super }}{% endblock %}

{% block meta %}
	<link rel="canonical" href="{{ BASE_URL }}/certificado/">
	<meta name="description" content="Busca e geração de certificado do Dev in Cachu 2013">
	<meta name="keywords" content="devincachu, dev in cachu 2013, certificado">
{% endblock %}

{% block og %}
	<meta property="og:title" content="Busca e geração de certificado">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ BASE_URL }}/certificado/">
	<meta property="og:image" content="{{ STATIC_URL }}img/devincachu-facebook.png">
	<meta property="og:description" content="Página para buscar e gerar um certificado do Dev in Cachu 2013">
{% endblock %}

{% block conteudo %}
<div id="busca-certificado">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h1>Busca e geração de certificado</h1>
				<div id="twitter" class="home-social"><a href="https://twitter.com/share" class="twitter-share-button" data-via="devincachu" data-hashtags="devincachu">Tweet</a></div>
				<div id="fb" class="home-social"><div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
				<div id="gplus" class="home-social"><div class="g-plusone" data-size="medium"></div></div>

				<p>Informe o seu e-mail abaixo para ver seu certificado! O certificado será exibido em formato HTML, e poderá salvo ou impresso. <strong>Lembre-se de utilizar o mesmo e-mail que você utilizou para se inscrever no evento.</strong></p>

				{% if msg %}
					<div class="disclaimer">{{ msg }}</div>
				{% endif %}

				<form action="" method="post" accept-charset="utf-8" id="certificado">
					{% csrf_token %}
					{{ form.email }}
					<button type="submit" class="btn primary">Ok</submit>
				</form>
			</div>
			{% include "sidebar.html" %}
		</div>
	</div>
</div>
{% endblock %}
