{# Copyright 2013 Dev in Cachu authors. All rights reserved. #}
{# Use of this source code is governed by a BSD-style #}
{# license that can be found in the LICENSE file. #}

{% extends "inscricao_base.html" %}

{% block h1 %}Em breve...{% endblock %}

{% block conteudo_inscricao %}
<p class="descricao">No momento, as inscrições ainda não estão abertas. Volte em breve para conferir, ou fique ligado nas novidades do Dev in Cachu através do <a href="https://twitter.com/devincachu" title="Dev in Cachu no Twitter" rel="nofollow">nosso perfil no Twitter</a> ou <a href="https://www.facebook.com/devincachu" title="Dev in Cachu no Facebook">nossa página no Facebook</a>.</p>
{% endblock %}
