/*
Copyright 2013 Dev in Cachu authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

.patrocinadores ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

.patrocinadores ul > li:not(:first-child) {
	margin-top: 10px;
}

.patrocinadores.apoio ul > li {
	display: inline-block;
	height: 90px;
	line-height: 90px;
	margin: 0;
	width: 130px;
}

#github-ribbon img {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99999;
}

p.disclaimer {
	color: #C00;
}

@media (min-width: 768px) {
	div.home-social {
		float: left;
		margin: 10px 0;
	}

	div#gplus {
		width: 50px;
	}

	div#fb {
		width: 80px;
	}

	div#twitter {
		width: 100px;
	}

	p {
		clear: both;
	}

	.sidebar {
		float: right;
	}
}

@media (max-width: 767px) {
	div.home-social {
		display: none;
	}

}

@media (max-width: 1200px) {
	#github-ribbon {
		display: none;
	}
}
