/*
Copyright 2013 Dev in Cachu authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

.metadados {
    color: #999;
    font-size: 11px;
    margin: 3px 0;
}

div.home-social {
    float: left;
    margin-bottom: 10px;
}

div.destaque {
    clear:both;
}
