#sobre{
	margin: 40px 0 115px;
}
#sobre .perk{
	margin-bottom: 82px;
	margin-left: 0;
}
#sobre .perk .span2 {
	margin-left: 5px;
}
#sobre .perk .span2 img {
	border-radius: 85px;
}
#sobre .description_wrapper{
	float: right;
	margin-left: 0;
}
#sobre .description_wrapper h5{
	font-size: 20px;
	margin: 5px 0 10px 0;
}
#sobre .description_wrapper p{
	font-size: 16px;
	line-height: 24px;
	color: #3F3F3F;
	margin-bottom: 0;
}
#sobre .last{
	margin-bottom: 0;
}
#sobre .conference p {
	color: #3F3F3F;
	font-size: 19px;
	font-style: italic;
	line-height: 24px;
	margin-top: 20px;
}
#sobre .section_header.organizadores {
	margin: 20px 0;
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
}
@media (min-width: 980px) {
}
@media (max-width: 979px) {
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#sobre .description_wrapper{
		width: 77%;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#sobre .perk{
		text-align: center;
		margin-bottom: 70px;
	}
	#sobre .circle{
		float: none;
		margin-bottom: 20px;
		display: inline-block;
	}
	#sobre .description_wrapper h5{
		margin-bottom: 15px;
	}
}
